<!DOCTYPE html>
<html>
  <head>
    <title>Sequence number</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/excellentexport.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
  </head>
  <body>
  <div id = "loader">
		<div id="fountainG">
				<div id="fountainG_1" class="fountainG"></div>
				<div id="fountainG_2" class="fountainG"></div>
				<div id="fountainG_3" class="fountainG"></div>
				<div id="fountainG_4" class="fountainG"></div>
				<div id="fountainG_5" class="fountainG"></div>
				<div id="fountainG_6" class="fountainG"></div>
				<div id="fountainG_7" class="fountainG"></div>
				<div id="fountainG_8" class="fountainG"></div>
			</div>
	</div>
	<div class ='container'>
    <div class="testbox">
	  <div class="banner">
		<h1>classifier</h1>
		<p>Application find pathologies on ecg</p>
	  </div>
      <form method="post" role="input_form">
        <div class="columns">
          <div class="item">
			<label for="file">Select a file</label>
            <input id="seq_file" name="seq_file" type="file">
		  </div>
		</div>

        <div class="btn-block">
		  <input type="button" value="Load ECG" onclick="calculate()">
		</div>
	
	  </form>
	  <div id = 'result'>
		<div id = 'len'>
		</div>
		<br/>
	</div>
</div>
</div>
  </body>
</html>